.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size: 10px;
	font-weight:bold;
	padding:6px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}



.img1 {

height: 25px;
width: 25px;

}

.img2 {

    height: 25px;
width: 25px;
    
    }

.img3 {

    height: 25px;
    width: 25px;

        
        }

        .img4 {

            height: 30px;
width: 30px;

        }

        .img5 {

            height: 50%;
            width: 100%; 

        }

        .img6 {

            height: 50px;
            width: 50px;
            display:flex;
            flex-direction: column-reverse;
        }
      
        .img7 {

            height: 300px;
            width: 300px;
           
        }

        .img8 {

            height: 30px;
width: 30px;



      


   
}

        #botones{

    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    


}
#imgsybotones{

    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.login {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.portatil {

 
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
  align-content: space-around;
align-items: center; }